<header>
  <div class="container">
    <div class="logo">
      daterangepicker
    </div>
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/docs" routerLinkActive="active">Docs</a></li>
        <li><a routerLink="/tests" routerLinkActive="active">Tests</a></li>
        <li><a routerLink="/examples" routerLinkActive="active">Examples</a></li>
        <li><a href="https://github.com/frost-byte/daterangepicker">Fork on Github</a></li>
      </ul>
    </nav>
  </div>
</header>
