<header>
  <div class="container">
    <div class="logo">
      daterangepicker
    </div>
    <nav>
      <ul>
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/docs">Docs</a></li>
        <li routerLinkActive="active"><a routerLink="/tests">Tests</a></li>
        <li routerLinkActive="active"><a routerLink="/examples">Examples</a></li>
        <li><a href="https://github.com/frost-byte/daterangepicker">Fork on Github</a></li>
      </ul>
    </nav>
  </div>
</header>
