.daterangepicker select {
  width: fit-content;
  box-sizing: border-box;
  padding: 0.5em;
  height: auto;
  font-size: 13px;
  // line-height: 1.5em;
  text-align: center;
  margin: 3px;
  border-radius: $border-radius;
  border: 1px solid #ccc;
  height: auto;
  font-size: 13px;
  color: #333;

  &.hidden {
    display: none;
  }

  &.month-select {
    flex: 10;
  }

  &.year-select {
    flex: 11;
  }

  &.decade-select {
    flex: 11;
  }
}
